html {
  font-size: 20px;
  background: url(https://www.esquireme.com/public/images/2017/05/29/rock_paper_scissors__2x.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-postition: center;
}
